In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm
from itertools import cycle
import numpy as np 
import plotly.express as px
from matplotlib.lines import Line2D
import seaborn as sns
from sklearn.cluster import KMeans

In [2]:
file_path = r'C:\Users\shlbs\OneDrive - The University of Texas at Austin\Desktop\SRS_Thesis_ShareFolder\_DATA\_AOIs\_CORNUDAS\_FIELD SPEC\Rock_Type_March2024\FINAL_Cluster_AVERAGES.csv'

In [3]:
df = pd.read_csv(file_path)

In [4]:
df.head()

             Cluster  Wavelength (nm)  Average Reflectance
0  Igneous Cluster 0            350.0             0.336777
1  Igneous Cluster 0            351.0             0.335968
2  Igneous Cluster 0            352.0             0.335113
3  Igneous Cluster 0            353.0             0.334530
4  Igneous Cluster 0            354.0             0.334225

In [5]:
# Pivot the DataFrame
pivot_df = df.pivot(index='Wavelength (nm)', columns='Cluster', values='Average Reflectance')

# Reset the index to turn the index into a column
pivot_df.reset_index(inplace=True)

In [6]:
pivot_df.head()

Cluster,Wavelength (nm),Igneous Cluster 0,Igneous Cluster 1,Sedimentary Cluster 0,Sedimentary Cluster 1,Sedimentary Cluster 2,Sedimentary Cluster 3
0,350.0,0.336777,0.304562,0.299392,0.581259,0.865338,0.381456
1,351.0,0.335968,0.304465,0.297978,0.584764,0.871168,0.379311
2,352.0,0.335113,0.302008,0.297699,0.581938,0.878574,0.377646
3,353.0,0.334530,0.301420,0.295362,0.580653,0.877287,0.376631
4,354.0,0.334225,0.301402,0.293005,0.580642,0.872184,0.375586

In [10]:
# Define the output file path
output_file = r'C:\Users\shlbs\OneDrive - The University of Texas at Austin\Desktop\SRS_Thesis_ShareFolder\_DATA\_AOIs\_CORNUDAS\_FIELD SPEC\Endmember\endmembers_v2.txt'

# Write to ASCII file with custom header
with open(output_file, 'w') as f:
    # Write a custom header
    f.write('ENVI ASCII Plot File \n')
    f.write('Column 1: Wavelength\n')
    for i, column in enumerate(pivot_df.columns[1:], start=2):
        f.write(f'Column {i}: {column}\n')
    
    # Write the DataFrame to the file
    pivot_df.to_csv(f, sep=' ', index=False, header=False, float_format='%.6f')

In [ ]:
UniqueClusters = df.Cluster.unique()

In [ ]:
print(UniqueClusters)

In [ ]:
DataFrameDict = {elem : pd.DataFrame() for elem in UniqueClusters}

for key in DataFrameDict.keys():
    DataFrameDict[key] = df[:][df.Cluster == key]

In [ ]:
igneous_0 = DataFrameDict['Igneous Cluster 0']

In [ ]:
sorted_igneous_0 = igneous_0.sort_values(by='Wavelength (nm)')

In [ ]:
sorted_igneous_0.head()

In [ ]:
# Pivot the DataFrame
pivot_df = df.pivot(index='Wavelength (nm)', columns='Cluster', values='Average Reflectance')

# Reset the index to turn the index into a column
pivot_df.reset_index(inplace=True)

# Define the output file path
output_file = 'endmembers.txt'

# Write to ASCII file with custom header
with open(output_file, 'w') as f:
    # Write a custom header
    f.write('; ENVI Endmember ASCII File\n')
    f.write('; Wavelength (nm) ' + ' '.join(pivot_df.columns[1:]) + '\n')

    # Write the DataFrame to the file
    pivot_df.to_csv(f, sep=' ', index=False, header=True)